body{
    width:auto;
    height:auto;
    background-color: rgb(255, 255, 255);
}
.header{
    position: fixed;
    top:0;  
    height:17%;
    width:100vw;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(188, 183, 183, 0.5); 
    z-index:1;
}
.open-cart{
    position: fixed;
    background-color:rgb(49, 48, 48,0.9); 
    height:100%;
    border:solid;
    right:0;
    width:26vw;
    z-index:2;
    top:0;
}
.put-product{
    border:solid;
    color:white;
    height:74%;
    max-height:74%;
    margin-top:1vw;
    overflow-y: auto;
}
.word1{
    text-align:center;
    font-size:2vw;
    margin-top:2vw;
}
.logo{
    max-width:6vw;
    margin-left: 8vw;
}
.menu-bar{
    display: flex;
    align-items: center;
    width:36vw;
    height:4vw;
    justify-content: space-between;
}   
.menu-bar div{
    font-size:1.4vw;
    width:fit-content;
}
.bag{
    height:2.8vw;
    width:3vw;
}
.search-bar{
    position: relative;
    width:25vw;
    height:2.5vw;
    border-color: #ECECEC;
    background-color: #ECECEC;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:3.2vw;
}
.search{
    width:20vw;
    margin-left:2vw;
    border:none;
    font-size:1.1vw;
    background-color: #ECECEC;
}
.searchh{
    margin-left:1vw;
    width:18vw;
    height:1.4vw;
    font-size:1.3vw;
    border:none;
    background-color: #ECECEC;
}
.searchh:focus{
    outline:none;
}
.searchicon{
    width:1.7vw;
    height:1.4vw;
}
.search-bar button{
    border:none;
    background-color: #ECECEC;
    width:fit-content;
    height:fit-content;
    margin-right:0.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar button:hover{
    cursor: pointer;
}
.login-sign{
    display:flex;
    width:28vw;
    height:3.2vw;
    align-items: center;
    justify-content: end;
    margin-right:4vw;
}
.login{
    font-size:1.3vw;
    margin-right:1vw;
    font-family:Monterrat;
} 
.profile{
    height:3vw;
    width:3.5vw;
    margin-right:1vw;
}
.home{
    height:45vw;
    width:100%;
    display:flex;
    justify-content: space-between;
    position: relative;
    margin-top:7vw;
}
.invisible1{
    height:fit-content;
    width:fit-content;
    margin-left:8%;
    margin-top:5%;
    z-index: 1;
}
.invisible1 div{
    font-size:5.7vw;
    height:fit-content;
    width:fit-content;
    font-family: Alice;
}
.button1{
    background-color:#8B0304;
    color:white;
    width:10vw;
    height:3vw;
    border-radius:6px;
    margin-top:3%;
    border-style: none;
    font-size:1.5vw;
    font-family: Alice;
}
.button1:hover{
    cursor: pointer;
}
.yellow{
    position:absolute;
    right:0%;
    width:35vw;
    height:35vw;
}
.crispy{
    position:absolute;
    width:40.8vw;
    height:30vw;
    right:5%;
}
.fact{
    position: absolute;
    width:40vw;
    height:10vw;
    top:64%;
    left:8%;
}
@font-face {
    font-family: Alice;
    src: url('https://fonts.google.com/specimen/Alice?query=alice');
}
.main-page{
    width:100%;
    height:298vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-title{
    width:50vw;
    height:10vw;
    margin-top: 2vw;
}
.page-number{
    display: flex;
    justify-content: space-between;
    width:40vw;
    height:3.8vw;
    margin-top: 2vw;
}
.page{
    width:11vw;
    border-radius:10px;
    border:none;
    background-color:rgb(255, 253, 253);
    color:black;
    box-shadow: 0 2px 2px 2px rgba(129, 129, 129, 0.514);
    font-size:1.5vw;
    font-family:Poppin;
}
.page:hover{
    cursor: pointer;
    background-color: #43CB48;
    color:white;
}
.product-show1{
    margin-top: 2vw;
    width:85vw;
    height:60vw;
}
.line1{
    width:100%;
    height:50%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.line2{
    width:100%;
    height:50%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.product-show2{
    display:hidden;
}
.product{
    position: relative;
    height:100%;
    width:30%;
    border-radius:10px;
    border:none;
    background-color:rgb(255, 253, 253);
    box-shadow: 0 2px 2px 2px rgba(129, 129, 129, 0.514);
}
.product-image{
    width:89%;
    margin-left:1.4vw;
    margin-top:1vw;
    height:70%;
}
.product-name{
    font-family:Alice;
    margin-left:1.4vw;
    margin-top:0.6vw;
    font-size:2.5vw;
}
.product-price{
    margin-top:0.6vw;
    width:10vw;
    height:auto;
    margin-left:1.4vw;
}
.order-now{
    width:9vw;
    margin-left:2vw;
    border:solid;
    height:auto;
}
.hehe{
    position: absolute;
    margin-left:1.7vw;
    bottom:0.9vw;
    background-color:white;
    border:none;
}
.hehe:hover{
    cursor: pointer;
}
.order{
    position:relative;
    width:10vw;
    height:auto;
}
.About{
    width:60vw;
}
.keep-order{
    width:60vw;
}
.in-touch{
    width:34vw;
    margin-top:5vw;
}
.form{
    display:flex;
    margin-top: 2vw;
    width:85vw;
    height:52vw;
}
.write-form{
    width:40vw;
    margin-left:4vw;
}
.input-form{
    margin-bottom:3vw;
    width:80%;
    height:4vw;
    border-radius:5vw;
    text-indent:1vw;
    font-size:1.2vw;
}
.write-in{
    margin-left:2vw;
    font-size:1.8vw;
    margin-bottom:0.6vw;
    font-family:Poppin;
    color: #8B0304;

}
.form-button{
    width:17vw;
    height:auto;
}
.write-form button:hover{
    cursor:pointer;
}
.write-form button{
    margin-top:1vw;
}
.uber{
    width:45vw;
    height:35vw;
    margin-top:7vw;
}
@font-face{
    font-family:Poppin;
    src:url('https://fonts.google.com/specimen/Poppins?query=poppins')
}

.blog{
    width:70%;
    height:auto;
    margin-top:5vw;
}
.blog-info{
    width:90%;
    height:40vw;
    margin-top:4vw;
    display:flex;
    align-items: center;
}
.a1{
    width:8vw;
}
.a2{
    width:8vw;
}
.arrow1,.arrow2{
    background-color:white;
    border:none;
}
.arrow1:hover{
    cursor:pointer;
}
.arrow2:hover{
    cursor:pointer;
}
.blog1{
    position: relative;
    border:none;
    width:30vw;
    height:84%;
    margin-right:6vw;
    margin-left:2vw;
    background-color:rgb(255, 253, 253);
    box-shadow: 0 2px 2px 2px rgba(129, 129, 129, 0.514);
    border-radius:10px;
}
.blog2{
    border:none;
    width:30vw;
    height:84%;
    margin-right:2vw;
    background-color:rgb(255, 253, 253);
    box-shadow: 0 2px 2px 2px rgba(129, 129, 129, 0.514);
    border-radius:10px;
}
.blog-product1{
    width:90%;
    height:auto;
    margin-top:1vw;
    margin-left: 1.55vw;
}
.huhu1 ,.huhu2{
    width:100%;
    text-align: center;
    margin-top:1vw;
}
.huhu2{
    font-size: 1.3vw;
}
.huhu1{
    font-size:2vw;
}
.cry1{
    right:2px;
    bottom:10px;
    margin-top: 3vw;
    border:none;
    background-color: white;
    margin-left:16vw;
}
.cry1:hover{
    cursor: pointer;
}
.cry2{
    width:13vw;
}
.footer{
    width:100%;
    margin-top:1vw;
}
@font-face{
    font-family:Monterrat;
    src:url('https://fonts.google.com/specimen/Montserrat?query=mon')
}
